<div class="justify-content-center">
  <div class="border border-opacity-50">
    <form [formGroup]="formTweet" class="mb-3 px-2">
      <div class="mt-2 mb-1">
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <label for="exampleFormControlTextarea1" class="form-label fw-bold">{{
          user.username
        }}</label>
      </div>
      <textarea
        #textarea
        placeholder="What's happing ?"
        formControlName="tweet"
        maxlength="130"
        class="form-control text-tweet"
        rows="3"
      ></textarea>
      <div
        class="d-md-flex justify-content-between mt-3 px-2 align-items-center"
      >
        <div>
          <span *ngIf="formTweet.valid" class="remaning"
            >Characters remaining: {{ 130 - textarea.value.length }}</span
          >
        </div>
        <button
          (click)="submited()"
          [disabled]="!formTweet.valid"
          class="btn btn-primary px-4 mt-2 mt-md-0 fw-bold"
        >
          Tweet
        </button>
      </div>
    </form>
  </div>
</div>
