<div class="row h-100">
  <div class="col-lg-10 p-0">
    <div
      class="d-flex w-100 border border-opacity-50 py-2 px-4 align-items-center justify-content-between"
    >
      <h4>Home</h4>
      <i class="text-primary fs-3 fa-brands fa-twitter"></i>
    </div>
    <div class="row justify-content-center m-0">
      <div class="col-lg-8 col-10 mt-3">
        <app-writer></app-writer>
      </div>
    </div>

    <div class="row justify-content-center m-0 mt-4">
      <div class="col-lg-8 col-10 container-list">
        <app-tweet-list (resumTweet)="resumTweet($event)"></app-tweet-list>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block col-lg-2 bg-dark resume-panel">
    <div>
      <p>
        <i
          class="fa-star fa-solid text-warning fs-4 btn-cursor icon-favorite"
        ></i>
        {{resumFavorite}}
      </p>

      <p>
        <i
        class="fa-thumbs-up fa-solid text-primary fs-4 btn-cursor icon-favorite"
        ></i>
        {{resumLike }}
      </p>
      <p>
        <i
          class="fa-solid fa-pen-to-square text-light fs-4 btn-cursor icon-favorite"
        ></i>
        {{resum}}
      </p>
    </div>
  </div>
</div>
